/**
 * NoiseBackground.module.css
 * Styles for the noise texture background component
 */

.noiseCanvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.noiseCanvas svg {
  width: 100%;
  height: 100%;
}
