.startTournamentButton {
  font-weight: var(--button-font-weight);
  letter-spacing: var(--tracking-normal);
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconSvg {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}
