/* App-specific styles */

.toastContainer {
	position: fixed;
	bottom: var(--toast-container-bottom);
	right: var(--toast-container-right);
	max-width: var(--toast-container-max-width);
}

/* Using utility class: .z-toast (need to add this to utilities) */
